*.pyc
__pycache__
/build
.cmake
CMakeCache.txt
CMakeFiles
.ninja_deps
.ninja_log
/Testing
CTestTestfile.cmake
cmake_install.cmake
cmake_uninstall.cmake
build.ninja
python_compile_helper.py
get_swig_deps.py
*.i
/lib/test_fsk4_test.sh
/swig/_fsk4_swig_swig_tag.cpp
*.cpp.in
